{% extends "!layout.html" %}
  {% block footer %} {{ super() }}

  <style>
    /* Sidebar header (and topbar for mobile) */
    .wy-side-nav-search, .wy-nav-top {
      background: #00ff00;
    }
    /* Sidebar */
    .wy-nav-side {
      background: #E73422;
    }
  </style>

<script script type="text/javascript">
  var collapsedSections = ['Quickstart', 'Build From Source', 'Binary Size Optimization', 'Using PyTorch Libraries', 'Model Preparation', 'Performance', 'Backends', 'Custom Operators', 'Run Inference', 'Video Tutorials', 'Android Tutorials', 'iOS Tutorials', 'API Docs'];
</script>
  
{% endblock %}
